.timer-circle {
	position: absolute;
	top: 45%;
	left: 50%;
	transform: translate(-50%, -50%) scale(3) rotate(-90deg);

	circle {

		&.base-circle {
			stroke: white;
		}

	}

}

.circle-animation {
    stroke-dasharray: 440; /* this value is the pixel circumference of the circle */
    stroke-dashoffset: 440;
    transition: all 1s linear;
}
