.timer-options {
	background: white;
	box-shadow: 3px -3px 12px rgba(0,0,0,.15);
	padding: 2em 2em 2.5em 2.5em;
	position: absolute;
	bottom: .5em;
	left: .5em;
	transform: scale(0);
	transition: .25s;
	transform-origin: bottom left;

	label {
        display: block;
        margin-right: 1em;
    }

    input {
        background: transparent;
        border: none;
        border-bottom: 1px solid #999;
        padding: .25em;
        text-align: center;
        width: 3em;
    }

	&.is-visible {
		transform: scale(1);
	}
}

.settings-trigger {
	background: transparent;
	border: 1px solid darken(white, 20%);
	border-radius: 50%;
	cursor: pointer;
	display: block;
	width: 32px;
	height: 32px;
	padding: 10px;
	position: absolute;
	bottom: 1em;
	left: 1em;
	transition: .25s;

	svg {
		width: 18px;
		height: 18px;
		margin: -4px 0 0 -4px;

		path {
			fill: darken(white, 40%);
		}
	}

	&:hover {
		border-color: $color-primary;

		svg path {
			fill: $color-primary;
		}
	}

	&:focus {
		outline: none;
	}

	&.is-active {
		border-color: transparent;
	}

}
