.timer-wrapper {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.timer-display {
    color: #494949;
    font-size: 8em;
    padding: 2rem 0;
}

.round-type {
    background: #323232;
    border-radius: .25em;
    color: white;
    display: inline-block;
    padding: .25em 1em;
}

.round-number {
    font-weight: 700;
}
