@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,300,200,400italic,700);

@import '_colors.scss';
@import '_primary-header.scss';
@import '_circle.scss';
@import '_timer.scss';
@import '_timer-actions.scss';
@import '_action-notification.scss';
@import '_settings.scss';

body {
    background: #efeff4;
    font: 200 1em/1 'Source Sans Pro', Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}
