@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,300,200,400italic,700);

@import '_circle.scss';
@import '_timer.scss';
@import '_action-notification.scss';

body {
    background: #efeff4;
    font: 200 1em/1 'Source Sans Pro', Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}

.primary-header {

    h1 {
        background: #fff;
        color: #999;
        font-size: 1rem;
        text-align: center;
        margin: 0;
        padding: 1.5em 0;
    }
}



.timer-actions-wrapper {
    position: absolute;
    bottom: 10%;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
}

.timer-start {
    background: white;
    border: 1px solid #e7e7e7;
    border-radius: 50%;
    cursor: pointer;
    display: inline-block;
    font: 200 1em/1 'Source Sans Pro', Helvetica, sans-serif;
    width: 6em;
    height: 6em;
    margin: 0 auto;
    outline: none;
    text-align: center;
    text-transform: uppercase;
    vertical-align: middle;

    &:focus {
        border-color: blue;
    }
}

.timer-options {

    label {
        display: inline-block;
        margin-right: 1em;
    }

    input {
        background: transparent;
        border: none;
        border-bottom: 1px solid #999;
        padding: .25em;
        text-align: center;
        width: 3em;
    }
}
